<h1>Detalle del país: </h1>
<ul>
    <li><h2><u>Nombre del país:</u></h2></li>
    <h3>@ViewBag.PaisBuscado.Nombre</h3>
    <br>
    <li><h2><u>Población del país:</u></h2></li>
    <h3>@ViewBag.PaisBuscado.Poblacion</h3>
    <br>
    <li><h2><u>Fecha de independencia del país:</u></h2></li>
    <h3>@ViewBag.PaisBuscado.FechaIndependencia</h3>
    <br>
    <li><h2><u>Atractivos turísticos del país:sdfsdf</u></h2></li>
    <h3>@ViewBag.PaisBuscado.AtractivosTuristicos</h3> 
</ul>-